@import 'var';

/* ----------Portfolio Section---------- */
.portfolio-section {
    padding: 80px 0 80px;
    min-height: 100vh;

    .section-title {
        margin-bottom: 40px;
    }

    .portfolio-filter {
        padding: 0 15px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .portfolio-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;

        &.hide {
            display: none;
        }

        &.show {
            display: block;
            animation: fadeInTop 0.5s ease;
        }
    }

    .portfolio-item-details {
        display: none;
    }

    .portfolio-item-inner {
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;

        &:hover {
            .view-project {
                transform: translateY(0px);
                opacity: 1;
            }

            .portfolio-item-img {
                img {
                    transform: translateY(-25px);
                }
            }
        }

        p {
            font-size: 16px;
            margin: 10px 0 0;
            color: $text-black-600;
            text-transform: capitalize;
        }
    }

    .portfolio-item-img {
        position: relative;

        img {
            border-radius: 5px;
            width: 100%;
            transition: all 0.3s ease;
        }

        .view-project {
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            color: $skin-color;
            transition: all 0.3s ease;
            position: absolute;
            left: 0;
            bottom: -4px;
            transform: translateY(-5px);
            z-index: -1;
            opacity: 0;
        }
    }

    .filter-item {
        display: inline-block;
        margin: 0 5px 10px;
        padding: 5px 10px;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 500;
        color: $text-black-600;
        text-transform: capitalize;
        font-size: 16px;
        transition: all 0.3s ease;

        &.active {
            color: $skin-color;
        }

        &:hover {
            &:not(.active) {
                opacity: 0.6;
            }
        }
    }
}